
{% extends "layout.html" %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#home-nav-item').addClass('active');
        });
    </script>
{% endblock %}
	
{% block style %}
	<style>
        body {
          padding-top: 3rem;
          padding-bottom: 3rem;
          color: #5a5a5a;
        }


        /* Carousel base class */
        .carousel {
          margin-bottom: 4rem;
        }
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
          bottom: 3rem;
          z-index: 10;
        }

        /* Declare heights because of positioning of img element */
        .carousel-item {
          height: 32rem;
          background-color: #777;
        }
        .carousel-item > img {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%;
          height: 32rem;
        }

        /* Center align the text within the three columns below the carousel */
        .marketing .col-lg-4 {
          margin-bottom: 1.5rem;
          text-align: center;
        }
        .marketing h2 {
          font-weight: 400;
        }
        .marketing .col-lg-4 p {
          margin-right: .75rem;
          margin-left: .75rem;
        }

        .featurette-divider {
          margin: 5rem 0; /* Space out the Bootstrap <hr> more */
        }

        /* Thin out the marketing headings */
        .featurette-heading {
          font-weight: 300;
          line-height: 1;
          letter-spacing: -.05rem;
        }


        /* RESPONSIVE CSS
        -------------------------------------------------- */

        @media (min-width: 40em) {
          /* Bump up size of carousel content */
          .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
          }

          .featurette-heading {
            font-size: 50px;
          }
        }

        @media (min-width: 62em) {
          .featurette-heading {
            margin-top: 7rem;
          }
        }

        #carousel-1 {
            background-image: url("duct_images_rm.s3.amazonaws.com/93-hooksroyalblue-gi/product/93-hooksroyalblue-gi.jp://product_images_rm.s3.amazonaws.com/tf-estilo6orangemen-gi/product/tf-estilo6orangemen-gi.jp://product_images_rm.s3.amazonaws.com/tf-estilo6orangemen-gi/product/tf-estilo6orangemen-gi.jpg")
        }

</style>
{% endblock %}
	

{% block content %}
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
          
            <img class="first-slide" src="https://cdn.pixabay.com/photo/2018/08/31/18/21/fantasy-3645269_960_720.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left" id="carousel-1">
                <h1>Hayabusa</h1>
                <p>Japan's number 1 gi producers </p>
                <p><a class="btn btn-lg btn-primary" href="/search/hayabusa" role="button">See Gi's</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
         
            <img class="second-slide" src="http://getwallpapers.com/wallpaper/full/0/5/4/63493.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Rollmore</h1>
                <p>Need  to rollmore. Do it in a rollmore </p>
                <p><a class="btn btn-lg btn-primary" href="/search/rollmore" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="https://wallpaperaccess.com/full/18995.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Venum</h1>
                <p>Don't forget you can roll like you're Spiderman's worst nightmare</p>
                <p><a class="btn btn-lg btn-primary" href="/search/venum" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="http://interfacelift.com/wallpaper/previews/04194_pagview_672x420.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Buy New</h2>
            <p>View the coolest newest Gi's</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaTopb9cjfkzOrAvT4H9VF9j7Lf5ygju4aRAI6p8qgb6_zlJurXQ" alt="Generic placeholder image" width="140" height="140">
            <h2>Sell your custom Gi's</h2>
            <p> Sell your own custom designs and let them know your brand</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">


        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
{% endblock %}
