
<html>
<head>
	
	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<!-- My Scripts -->
	
	<script type="text/javascript" src="{{ url_for('static', filename = 'gi-market.js') }}"></script>

	<script>
        gi_list = {{ gi_list | tojson }}

	</script>


	<style>
        .giRow {
            height: 200px;
        }

	</style>

	
</head>
<body>


<div class="container">
  <div class="jumbotron">
    <h1>Gi Market!</h1>      
    <input type="search" placeholder="search" id="search-box"> </input>
    <button class="btn btn-primary" id="search-button">Search</button>
  </div> 


	<div id="giLog" >
		 
	<div class="row">
		<div class="col-md-2">
			<span id="form-text"> Add a new Gi: </span>
		</div>
		<div class="col-md-4">	
			<div class="ui-widget">		
				<input type="text"  id="enter-seller" placeholder="Seller" >
				<input type="text"  id="enter-name" placeholder="Name" >
				<input type="text"  id="enter-description" placeholder="Description" >
				<input type="text"  id="enter-price" placeholder="Price" >
				<input type="text"  id="enter-image-url" placeholder="image-url" >
			</div>
		    <button class="btn btn-primary" id="submit-gi">Create</button>
		</div>

		<div class="col-md-4">	
			<div class="ui-widget">		
				<input type="text"  id="update-seller" placeholder="Seller" >
				<input type="text"  id="update-name" placeholder="Name" >
				<input type="text"  id="update-description" placeholder="Description" >
				<input type="text"  id="update-price" placeholder="Price" >
				<input type="text"  id="update-image-url" placeholder="image-url" >
                <button class="btn btn-primary" id="update-gi">Update</button>
			</div>
                <p> Gi ID: <span id="update-id"> </span></p>
		</div>

	</div>
	<br>

	<div id="gi-list">
	</div>

    </div> <!-- end logsales-->

</div>

</body>
</html>
