{% extends "base.html" %}

{% block content %}
   <div class='row'> 
    <div id ='videos' class='col-4'> 
        <ul style="list-style-type:none" class='list-group' id="videoList">
        </ul>
    </div>
    <div class='col-4'> 
        <ul id="messages"></ul>
        <input type="text" id="myMessage">
        <button class='btn btn-primary' id="sendButton">Send</button>
    </div>
   </div>

    <script type="text/javascript">
function urlify(text) {
    res = [];
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    text.replace(urlRegex, function(url) {
        res.push(url);
    })
    return res;
}
function clean(text) {
var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
            return '<a href="' + url + '">' + 'link' + '</a>';
                })
}
function getIframeHtml(url) {
    return '<iframe width="420" height="315"' 
            + 'src = "' + url + '"></iframe>';
}

      $(document).ready(function(){

        var socket = io.connect('http://localhost:5000/')
        socket.on('connect', function(){              
          console.log("User has connected")
        })

        

      socket.on('message', function(msg){

        var urlList = urlify(msg);
        console.log(urlList);
        for ( url in urlList) {
            $('#videos').append("<li class='list-group-item' >" + getIframeHtml(urlList[url]) + '</li>' );
        }
        $("#messages").append("<li class='list-group-item'> <strong>"+ $('#current_user').text() + ':</strong>' + clean(msg)+"</li>")
      })


      $("#sendButton").on('click', function(){  
        var myMessage = $("#myMessage").val()  
        socket.send(myMessage)  
      })


      })
    </script>

{% endblock %}

